In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:

from sklearn.preprocessing import StandardScaler

In [7]:
df = pd.read_csv("house_prices.csv")

In [5]:
# Load the dataset
data = pd.read_csv('house_prices.csv')

# Display the first few rows
print(data.head())

# Check for missing values
print(data.isnull().sum())

# Get basic statistics
print(data.describe())

    location  bhk  sqft_area     price  age_of_property  nearby_schools
0     Mumbai    2        900  12000000                5               1
1      Delhi    3       1500  18000000               10               2
2  Bangalore    2       1200   9500000                3               3
3  Hyderabad    4       1800  22000000                8               1
4    Chennai    3       1400  16000000                6               2
location           0
bhk                0
sqft_area          0
price              0
age_of_property    0
nearby_schools     0
dtype: int64
             bhk   sqft_area         price  age_of_property  nearby_schools
count  10.000000    10.00000  1.000000e+01        10.000000       10.000000
mean    2.800000  1320.00000  1.390000e+07         5.900000        2.000000
std     0.788811   290.78438  4.587422e+06         2.601282        0.816497
min     2.000000   900.00000  8.500000e+06         2.000000        1.000000
25%     2.000000  1125.00000  1.025000e+07         4.250000        1.250000
50%     3.000000  1300.00000  1.250000e+07         5.500000        2.000000
75%     3.000000  1475.00000  1.750000e+07         7.750000        2.750000
max     4.000000  1800.00000  2.200000e+07        10.000000        3.000000

In [9]:
# Drop rows with missing values
data = data.dropna()

# Or fill missing values with the mean
# data = data.fillna(data.mean())

In [10]:
# Fill missing values with median
df.fillna(df.median(numeric_only=True), inplace=True)

In [11]:
# Select features and target
X = df.drop(columns=['price'])  # Features
y = df['price']  # Target variable

In [ ]:
# Separate features and target variable
X = data.drop('price', axis=1)
y = data['price']

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [14]:
# One-hot encode categorical features
categorical_cols = X.select_dtypes(include=['object']).columns
X = pd.get_dummies(X, columns=categorical_cols, drop_first=True)

In [15]:
# One-hot encoding for categorical variables
data = pd.get_dummies(data, drop_first=True)

In [16]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [18]:
# Initialize the Linear Regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [19]:
# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Calculate R-squared
r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

Mean Squared Error: 3268603732560.87
R-squared: 0.8551311365069975

In [20]:
# Evaluate performance
print("MAE:", mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

MAE: 1765804.3150109006
MSE: 3268603732560.87
R² Score: 0.8551311365069975

In [21]:
# Get coefficients
coefficients = model.coef_

# Pair feature names with their coefficients
feature_importance = pd.DataFrame({'Feature': X.columns, 'Importance': coefficients})
print(feature_importance.sort_values(by='Importance', ascending=False))

               Feature    Importance
7   location_Hyderabad  2.279269e+06
5     location_Chennai  1.718198e+06
11     location_Mumbai  1.133046e+06
9     location_Kolkata  3.666029e+05
0                  bhk  1.711955e+05
2      age_of_property  1.687339e+05
1            sqft_area  8.894650e+03
8      location_Jaipur  0.000000e+00
6       location_Delhi -4.656613e-10
10    location_Lucknow -4.064644e+05
4   location_Bangalore -9.530687e+05
12       location_Pune -1.104744e+06
3       nearby_schools -1.372406e+06